#Log
LOG_FILE="/var/log/hardening.log"

#Firewall
FILE_FIREWALL="/etc/hardening/firewall.rules"

ALLOWED_PORT=("22" "80" "443")

STATE_IP_FORWARD=0
STATE_ICMP_ECHO=1

#SSH
FILE_SSHD="/etc/ssh/sshd_config"
SSH_SETTINGS=("PasswordAuthentication no" "PubkeyAuthentication yes" "PermitRootLogin no")

#Identity
PASS_MIN_LEN=12
PASS_MAX_DAYS=90
FAIL_LOCK_ATTEMPTS=5

# System
BLOATWARE_PACKAGES=("telnet" "ftp" "netcat-traditional")
SECURITY_TOOLS=("auditd" "fail2ban")
